<h1 style="text-align: center;"><strong>The Graduate Student Association of&nbsp;</strong></h1>
<h1 style="text-align: center;"><strong>William &amp; Mary</strong></h1>
<h4 style="text-align: center;"><strong>presents:</strong></h4>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://medicalruminations.files.wordpress.com/2017/01/ws7hvac.jpg?w=620" alt="" width="620" height="228" /></p>
<p>&nbsp;</p>
<p><a href="http://localhost:8000/polls">Click here for the link to the polls</a></p>